doctype html
html(ng-app="Admin")
    head
        -var base = '/room/'
        meta(charset="utf-8")
        meta(http=equiv = "X-UA-Compatible", content="IE=Edge")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        title مدیریت سامانه‌ی دفتر شاخه ACM

        //Bower Components
        link(href= base + "/bower_components/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
        link(href= base + "/bower_components/metisMenu/dist/metisMenu.min.css",rel="stylesheet")
        link(href= base + "/bower_components/ng-table/dist/ng-table.min.css")

        link(href= base + "/bower_components/font-awesome/css/font-awesome.min.css", rel="stylesheet")
        script(src= base + "/bower_components/jquery/dist/jquery.min.js")
        script(src= base + "/bower_components/bootstrap/dist/js/bootstrap.min.js")
        script(src= base + "/admin/javascripts/sb-admin-2.js")

        //Admin Panel CSS
        link(href= base + "/admin/stylesheets/timeline.css", rel="stylesheet")
        link(href= base + "/admin/stylesheets/sb-admin-2.css", rel="stylesheet")


        //Custom css
        link(href= base + "/admin/stylesheets/style.css", rel="stylesheet")

    body
        #wrapper
            nav(class=["navbar", "navbar-default", "navbar-static-top"], role="navigation", style="margin-bottom: 0")
                div.navbar-header.navbar-header-right
                    button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                        span.sr-only نوار بالا
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(ng-click="go('/home')") Admin Panel
                ul.nav.navbar-top-links.navbar-left
                    li.dropdown
                        a.dropdown-toggle(data-toggle="dropdown", href="#")
                            i.fa.fa-user.fa-fw
                            i.fa.fa-caret-down
                        ul.dropdown-menu.dropdown-user
                            li
                                a(href="/logout")
                                    i.fa.fa-sign-out.fa-fw Logout
                div.navbar-default.sidebar(role="navigation")
                    div.sidebar-nav.navbar-collapse
                        ul#side-menu.nav
                            li
                                a(href="/admin")
                                    i.fa.fa-dashbouard.fa-fw مدیریت
                                a(ng-href="{{'#/users'}}")
                                    i.fa.fa-dashbouard.fa-fw لیست کاربران
                                a(ng-href="{{'#/user'}}")
                                    i.fa.fa-dashbouard.fa-fw جدید

            #page-wrapper
                div(ng-view)
    script(src= base + "/bower_components/angular/angular.min.js")
    script(src= base + "/bower_components/angular-resource/angular-resource.min.js")
    script(src= base + "/bower_components/angular-route/angular-route.min.js")
    script(src= base + "/admin/controller/admin.js")
    script(src= base + "/admin/controller/controllers/UserListController.js")
    script(src= base + "/admin/controller/controllers/UserFormController.js")
    script(src= base + "/bower_components/ng-table/dist/ng-table.min.js")