doctype html
html
    head
        -var base = "/room"
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=Edge")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        title  شاخه‌ی دانشجویی ACM دانشگاه تهران

        link(rel="stylesheet", href= base + "/bootstrap/css/bootstrap.min.css")
        link(rel='stylesheet', href= base + '/stylesheets/css/font-awesome.min.css')
        link(rel='stylesheet', href= base + '/stylesheets/css/animate.css')
        link(href='http://fonts.googleapis.com/css?family=Lobster',rel='stylesheet',type='text/css')
        //Custom css
        link(rel='stylesheet', href= base + '/stylesheets/style.css')

        //Template js
        script(src= base + "/javascripts/jquery-2.1.1.min.js")
        script(src= base + "/bootstrap/js/bootstrap.min.js")
        script(src= base + "/javascripts/jquery.appear.js")
        script(src= base + "/javascripts/contact_me.js")
        script(src= base + "/javascripts/jqBootstrapValidation.js")
        script(src= base + "/javascripts/modernizr.custom.js")
        script(src= base + "/javascripts/script.js")
        script(src= base + "/bower_components/angular/angular.min.js")
        script(src= base + "/javascripts/angular-route.min.js")
        script(src= base + "/javascripts/angular-resource.min.js")
        script(src= base + "/javascripts/mainController.js")


        body(ng-app="IOT")
            div(ng-view)
                block content