section#logo-section.text-center
    div.containe
        div.row
            div.col-md-12
                div(class=["logo","text-center"])
                    h1 انجمن علمی مهندسی کامپیوتر دانشگاه تهران
                    span سامانه‌ی مدیریت هوشمند

div(class=["mainbody-section", "text-center"])
    div.container
        div.row
            div.col-md-3

                div(class=["menu-item", "color"])
                    a(href="#portfolio-modal", data-toggle="modal")
                        i(class=["fa", "fa-area-chart"])
                            p نتایج نظرسنجی

                div(class=["menu-item", "light-red"])
                    a(href="#about-modal", data-toggle="modal")
                        i(class=["fa", "fa-user"])
                            p درباره‌ی ما

            div.col-md-6
                div.col-md-8.col-md-offset-2
                    div.row
                        form(action="/users/login", method="post")
                            div.form-group
                                input.form-control(type="text", placeholder="Username", name="username")
                            div.form-group
                                input.form-control(type="password", placeholder="Password", name="password")
                            div.form-group.text-center
                                button.btn.btn-warning(type="submit") Login

            div.col-md-3
                div.menu-item.color
                    a(href="#qa", data-toggle="modal")
                        i.fa.fa-laptop
                            p  ورود مدیر
                div.menu-item.light-red
                    a(href="#contact-modal" data-toggle="modal")
                        i.fa.fa-envelope-o
                            p  تماس با ما


